/*  current color */
.currentColor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: rem(30px);
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

/*  saved swatches */
.swatchContainer {
  width: 50px;
  aspect-ratio: 1;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  .uploadImgSampleCloseButton {
    visibility: visible;
  }

  .uploadImgSampleCloseButton:hover {
    background-color: transparent;
  }
}

/* add image from url */
.addImageUrlPlaceholder {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-2));
  border-radius: 5px;

  p {
    text-align: center;
    color: grey;
  }
}

/* upload image */
.dropzone {
  border: 2px dashed var(--mantine-color-dimmed);
  border-radius: var(--mantine-radius-md);
  cursor: pointer;

  :hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-6)
    );
    border-radius: var(--mantine-radius-md);
  }
}
